    {% extends 'registration/main.html' %}
    {% block title %}Login{% endblock title %}
    {% block content %}
    {% if form.errors %}
    <div>
        {{form.non_field_errors}}
    </div>
    {% endif %}

    <form method="post">
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% csrf_token %}
        <table>
            <tr>
                <td class="text-lg">{{ form.username.label_tag }}</td>
                <td class="pl-3">{{ form.username }}</td>
            </tr>
            <tr>
                <td class="text-lg">{{ form.password.label_tag }}</td>
                <td class="pl-3">{{ form.password }}</td>
            </tr>
        </table>

        <input type="hidden" name="next" value="{{ next }}">
        <div class="grid mt-4">
            <input class="py-2 px-6 bg-neutral-900 text-neutral-100 rounded-lg hover:bg-black" type="submit" value="login">
        </div>
    </form>

    {% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}

    {% endblock content %}