{% extends 'main/main.html' %}

{% block content %}
<div class="">
  <div>
    <button class="p-3 m-2 text-xl  bg-stone-100">stone-100</button>
    <button class="p-3 m-2 text-xl text-white  bg-neutral-700">neutral-700</button>
    <button class="p-3 m-2 text-xl text-white  bg-neutral-800">neutral-800</button>
  </div>
  <div>
    <button class="p-3 m-2 text-xl text-white bg-red-900  opacity-95">red-900</button>
    <button class="p-3 m-2 text-xl text-white  bg-red-600">red-600</button>
    <button class="p-3 m-2 text-xl text-white  bg-amber-200">amber-200</button>
    <button class="p-3 m-2 text-xl  bg-amber-100">amber-100</button>
  </div>
  <div>
    <button class="p-3 m-2 text-xl text-white  bg-cyan-600">cyan-600</button>
    <button class="p-3 m-2 text-xl text-white bg-blue-300 ">blue-300</button>
  </div>
  <div>
    <button class="p-3 m-2 text-xl text-white  bg-emerald-900">emerald-900</button>
    <button class="p-4 m-2 text-xl text-white  bg-teal-900">teal-800</button>
  </div>

</div>
{% endblock %}